<div class = "ui-drink-item">
    <div class = "ui-drink-information" style = "line-height: 15px">
        <div class = "ui-drink-name">
            {{drink.name}}
        </div>
        <div class = "ui-drink-quantity">
            <b>Quantidade:</b> {{drink.quantity}}
        </div>
    </div>
    <div class = "ui-drink-information">
        {{drink.type}}
    </div>
    <div class = "ui-drink-information">
        R$ {{drink.price}}
    </div>
    <div class = "ui-drink-information">
        {{drink.country}}
    </div>
    <div class = "ui-drink-information">
        {{drink.manufacturer}}
    </div>
</div>